<!DOCTYPE html>
<html>
<body>

<div id = "UserProfileHeading">Welcome {{firstName}} {{lastName}}!! </div>

<div id = "userinfoProfile">
Your Personal Info:
<table>
    <tr>
        <td><strong>FirstName :</strong></td>
        <td>{{firstName}}</td> 
    </tr>
    
    <tr>
        <td><strong>LastName :</strong></td>
        <td>{{lastName}}</td> 
    </tr>
    <tr>
        <td><strong>Gender :</strong></td>
        <td>{{gender}}</td> 
    </tr>
    <tr>
        <td><strong>Age :</strong></td>
        <td>{{age}}</td> 
    </tr>
    <tr>
        <td><strong>Education :</strong></td>
        <td>{{education}}</td> 
    </tr>
    <tr>
        <td><strong>GPA :</strong></td>
        <td>{{gpa}}</td> 
    </tr>
    <tr>
        <td><strong>Login :</strong></td>
        <td>{{login}}</td> 
    </tr>
    <tr>
        <td><strong>Password :</strong></td>
        <td>{{password}}</td> 
    </tr>
</table>
</div>

</body>
</html